<a href="https://colab.research.google.com/github/gforgurups/langchain/blob/main/NLP_To_Sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install openai

In [3]:
import openai
import os
import pandas as pd

In [4]:
os.environ['OPENAI_API_KEY'] = ""
openai.api_key=os.getenv("OPENAI_API_KEY")

In [6]:
df =  pd.read_csv("sample_data/sales_data_sample.csv")

In [7]:
print(df.head(5))

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH    SALES        ORDERDATE  QTR_ID  \
0        10107               30      95.70  2871.00   2/24/2003 0:00       1
1        10121               34      81.35  2765.90    5/7/2003 0:00       2
2        10134               41      94.74  3884.34    7/1/2003 0:00       3
3        10145               45      83.26  3746.70   8/25/2003 0:00       3
4        10159               49     100.00  5205.27  10/10/2003 0:00       4

   MONTH_ID  YEAR_ID  PRODUCTLINE             PHONE  \
0         2     2003  Motorcycles        2125557818
1         5     2003  Motorcycles        26.47.1555
2         7     2003  Motorcycles  +33 1 46 62 7555
3         8     2003  Motorcycles        6265557265
4        10     2003  Motorcycles        6505551386

                    ADDRESSLINE1           CITY STATE POSTALCODE COUNTRY  \
0        897 Long Airport Avenue            NYC    NY      10022     USA
1             59 rue de l'Abbaye          Reims   NaN      51100  France
2  27 rue du Colonel Pierre Avia          Paris   NaN      75508  France
3             78934 Hillside Dr.       Pasadena    CA      90003     USA
4                7734 Strong St.  San Francisco    CA        NaN     USA

  CONTACTLASTNAME CONTACTFIRSTNAME
0              Yu             Kwai
1         Henriot             Paul
2        Da Cunha           Daniel
3           Young            Julie
4           Brown            Julie

In [8]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import text

###Set up TempDB in RAM. Push Pandas df to TempDB. Execute Sql query on TempDB

In [9]:
temp_db = create_engine("sqlite:///:memory:",echo=True)
data = df.to_sql(name='Sales',con=temp_db)

2023-12-24 13:50:59,285 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-12-24 13:50:59,289 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("Sales")

2023-12-24 13:50:59,293 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-12-24 13:50:59,296 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Sales")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("Sales")

2023-12-24 13:50:59,299 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-12-24 13:50:59,301 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

2023-12-24 13:50:59,306 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-12-24 13:50:59,309 INFO sqlalchemy.engine.Engine
CREATE TABLE "Sales" (
	"index" BIGINT,
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE "Sales" (
	"index" BIGINT,
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT
)

2023-12-24 13:50:59,312 INFO sqlalchemy.engine.Engine [no key 0.00258s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00258s] ()

2023-12-24 13:50:59,315 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Sales_index" ON "Sales" ("index")

INFO:sqlalchemy.engine.Engine:CREATE INDEX "ix_Sales_index" ON "Sales" ("index")

2023-12-24 13:50:59,317 INFO sqlalchemy.engine.Engine [no key 0.00259s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00259s] ()

2023-12-24 13:50:59,320 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2023-12-24 13:50:59,335 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-12-24 13:50:59,411 INFO sqlalchemy.engine.Engine INSERT INTO "Sales" ("index", "ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "SALES", "ORDERDATE", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "PHONE", "ADDRESSLINE1", "CITY", "STATE", "POSTALCODE", "COUNTRY", "CONTACTLASTNAME", "CONTACTFIRSTNAME") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO "Sales" ("index", "ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "SALES", "ORDERDATE", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "PHONE", "ADDRESSLINE1", "CITY", "STATE", "POSTALCODE", "COUNTRY", "CONTACTLASTNAME", "CONTACTFIRSTNAME") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

2023-12-24 13:50:59,415 INFO sqlalchemy.engine.Engine [generated in 0.04937s] [(0, 10107, 30, 95.7, 2871.0, '2/24/2003 0:00', 1, 2, 2003, 'Motorcycles', '2125557818', '897 Long Airport Avenue', 'NYC', 'NY', '10022', 'USA', 'Yu', 'Kwai'), (1, 10121, 34, 81.35, 2765.9, '5/7/2003 0:00', 2, 5, 2003, 'Motorcycles', '26.47.1555', "59 rue de l'Abbaye", 'Reims', None, '51100', 'France', 'Henriot', 'Paul'), (2, 10134, 41, 94.74, 3884.34, '7/1/2003 0:00', 3, 7, 2003, 'Motorcycles', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', 'Paris', None, '75508', 'France', 'Da Cunha', 'Daniel'), (3, 10145, 45, 83.26, 3746.7, '8/25/2003 0:00', 3, 8, 2003, 'Motorcycles', '6265557265', '78934 Hillside Dr.', 'Pasadena', 'CA', '90003', 'USA', 'Young', 'Julie'), (4, 10159, 49, 100.0, 5205.27, '10/10/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505551386', '7734 Strong St.', 'San Francisco', 'CA', None, 'USA', 'Brown', 'Julie'), (5, 10168, 36, 96.66, 3479.76, '10/28/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505556809', '9408 Furth Circle', 'Burlingame', 'CA', '94217', 'USA', 'Hirano', 'Juri'), (6, 10180, 29, 86.13, 2497.77, '11/11/2003 0:00', 4, 11, 2003, 'Motorcycles', '20.16.1555', '184, chausse de Tournai', 'Lille', None, '59000', 'France', 'Rance', 'Martine'), (7, 10188, 48, 100.0, 5512.32, '11/18/2003 0:00', 4, 11, 2003, 'Motorcycles', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', 'Bergen', None, 'N 5804', 'Norway', 'Oeztan', 'Veysel')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 2116.16, '3/28/2005 0:00', 1, 3, 2005, 'Ships', '61.77.6555', '1 rue Alsace-Lorraine', 'Toulouse', None, '31000', 'France', 'Roulet', 'Annette'), (2822, 10414, 47, 65.52, 3079.44, '5/6/2005 0:00', 2, 5, 2005, 'Ships', '6175559555', '8616 Spinnaker Dr.', 'Boston', 'MA', '51003', 'USA', 'Yoshido', 'Juri')]

INFO:sqlalchemy.engine.Engine:[generated in 0.04937s] [(0, 10107, 30, 95.7, 2871.0, '2/24/2003 0:00', 1, 2, 2003, 'Motorcycles', '2125557818', '897 Long Airport Avenue', 'NYC', 'NY', '10022', 'USA', 'Yu', 'Kwai'), (1, 10121, 34, 81.35, 2765.9, '5/7/2003 0:00', 2, 5, 2003, 'Motorcycles', '26.47.1555', "59 rue de l'Abbaye", 'Reims', None, '51100', 'France', 'Henriot', 'Paul'), (2, 10134, 41, 94.74, 3884.34, '7/1/2003 0:00', 3, 7, 2003, 'Motorcycles', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', 'Paris', None, '75508', 'France', 'Da Cunha', 'Daniel'), (3, 10145, 45, 83.26, 3746.7, '8/25/2003 0:00', 3, 8, 2003, 'Motorcycles', '6265557265', '78934 Hillside Dr.', 'Pasadena', 'CA', '90003', 'USA', 'Young', 'Julie'), (4, 10159, 49, 100.0, 5205.27, '10/10/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505551386', '7734 Strong St.', 'San Francisco', 'CA', None, 'USA', 'Brown', 'Julie'), (5, 10168, 36, 96.66, 3479.76, '10/28/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505556809', '9408 Furth Circle', 'Burlingame', 'CA', '94217', 'USA', 'Hirano', 'Juri'), (6, 10180, 29, 86.13, 2497.77, '11/11/2003 0:00', 4, 11, 2003, 'Motorcycles', '20.16.1555', '184, chausse de Tournai', 'Lille', None, '59000', 'France', 'Rance', 'Martine'), (7, 10188, 48, 100.0, 5512.32, '11/18/2003 0:00', 4, 11, 2003, 'Motorcycles', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', 'Bergen', None, 'N 5804', 'Norway', 'Oeztan', 'Veysel')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 2116.16, '3/28/2005 0:00', 1, 3, 2005, 'Ships', '61.77.6555', '1 rue Alsace-Lorraine', 'Toulouse', None, '31000', 'France', 'Roulet', 'Annette'), (2822, 10414, 47, 65.52, 3079.44, '5/6/2005 0:00', 2, 5, 2005, 'Ships', '6175559555', '8616 Spinnaker Dr.', 'Boston', 'MA', '51003', 'USA', 'Yoshido', 'Juri')]

2023-12-24 13:50:59,439 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2023-12-24 13:50:59,445 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-12-24 13:50:59,450 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2023-12-24 13:50:59,456 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-12-24 13:50:59,460 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

In [10]:
with temp_db.connect() as conn:
  result = conn.execute(text("select Country, sum(sales) from Sales group by Country"))

2023-12-24 13:51:27,638 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-12-24 13:51:27,642 INFO sqlalchemy.engine.Engine select Country, sum(sales) from Sales group by Country

INFO:sqlalchemy.engine.Engine:select Country, sum(sales) from Sales group by Country

2023-12-24 13:51:27,649 INFO sqlalchemy.engine.Engine [generated in 0.01080s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.01080s] ()

2023-12-24 13:51:27,653 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

In [11]:
result.all()

[('Australia', 630623.1000000001),
 ('Austria', 202062.53),
 ('Belgium', 108412.62),
 ('Canada', 224078.55999999994),
 ('Denmark', 245637.15),
 ('Finland', 329581.9100000001),
 ('France', 1110916.5199999993),
 ('Germany', 220472.08999999994),
 ('Ireland', 57756.43),
 ('Italy', 374674.30999999976),
 ('Japan', 188167.80999999997),
 ('Norway', 307463.7000000001),
 ('Philippines', 94015.73),
 ('Singapore', 288488.41000000003),
 ('Spain', 1215686.9200000009),
 ('Sweden', 210014.21),
 ('Switzerland', 117713.55999999998),
 ('UK', 478880.4600000001),
 ('USA', 3627982.83)]

In [ ]:
### sqlite SQL tables, with their properties:
#
# Employee (id, name)
#
#
### query to list the ...
# Select

In [12]:
def create_table_def(df):
  prompt = """### sqlite SQL table, with its properties:
  #
  # Sales({})
  #
  """.format(",".join(str(col) for col in df.columns))

  return prompt

In [13]:
print(create_table_def(df))

### sqlite SQL table, with its properties:
  #
  # Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME)
  #

In [14]:
def prompt_input():
  nlp_text = input("Enter your query ")
  return nlp_text

In [22]:
prompt_input()

Enter your query Get all emps

'Get all emps'

In [15]:
def combine_prompt(df,query_prompt):
  table_definition = create_table_def(df)
  query_init_string = f"""### A query to answer: {query_prompt}\nSELECT"""
  return table_definition+query_init_string

In [18]:
nlp_text = prompt_input()
final_prompt = combine_prompt(df,nlp_text)
print(final_prompt)

Enter your query return the sum of sales per country
### sqlite SQL table, with its properties:
  #
  # Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME)
  #
  ### A query to answer: return the sum of sales per country
SELECT

In [36]:
from openai import OpenAI
client = OpenAI()

response = client.completions.create(
    model='text-davinci-002',
    prompt=combine_prompt(df,nlp_text),
    temperature=0,
    max_tokens=150,
    top_p=1,
    frequency_penalty=0,
    presence_penalty=0,
    stop=['#',';']

)

In [37]:
response.choices[0].text

' country, sum(sales)\nFROM Sales\nGROUP BY country\n\n'

In [38]:
def handle_response(response):
  query=response.choices[0].text
  if(query.startswith(" ")):
    query= "SELECT"+ query
  return query

In [40]:
query_text = handle_response(response)

In [48]:
with temp_db.connect() as conn:
  result = conn.execute(text(query_text))

2023-12-24 14:23:09,101 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-12-24 14:23:09,105 INFO sqlalchemy.engine.Engine SELECT country, sum(sales)
FROM Sales
GROUP BY country

INFO:sqlalchemy.engine.Engine:SELECT country, sum(sales)
FROM Sales
GROUP BY country

2023-12-24 14:23:09,108 INFO sqlalchemy.engine.Engine [cached since 255.4s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 255.4s ago] ()

2023-12-24 14:23:09,113 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

In [49]:
result.all()

[('Australia', 630623.1000000001),
 ('Austria', 202062.53),
 ('Belgium', 108412.62),
 ('Canada', 224078.55999999994),
 ('Denmark', 245637.15),
 ('Finland', 329581.9100000001),
 ('France', 1110916.5199999993),
 ('Germany', 220472.08999999994),
 ('Ireland', 57756.43),
 ('Italy', 374674.30999999976),
 ('Japan', 188167.80999999997),
 ('Norway', 307463.7000000001),
 ('Philippines', 94015.73),
 ('Singapore', 288488.41000000003),
 ('Spain', 1215686.9200000009),
 ('Sweden', 210014.21),
 ('Switzerland', 117713.55999999998),
 ('UK', 478880.4600000001),
 ('USA', 3627982.83)]